// Carousels
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
.owl-carousel {
	.owl-wrapper-outer {
		padding: 0;
		box-shadow: none;
		border-radius: 0;
	}
	&[id*="banner"] .owl-wrapper-outer,
	&[id*="slideshow"] .owl-wrapper-outer {
		border: 1px solid $brand-black;
	}
	.owl-next,
	.owl-prev {
		@extend .btn;
		@extend .btn-inverse;
		transform: translateY(-50%);
		> i {
			width: 1em;
			height: 1em;
			font-size: inherit !important;
			color: #fff !important;
			margin: 0 !important;
		}
	}
}

.owl-pagination {
	display: none;
}
