// Carousels
.owl-carousel {
	.item {
		padding: 0 $grid-gutter-width / 2;
	}
	.owl-prev,
	.owl-next {
		position: absolute;
		top: 50%;
		margin-top: -($padding-base-vertical + 11px);
	}
	.owl-prev {
		left: $grid-gutter-width / 2;
		@media (min-width: $screen-sm-min) {
			.csscalc &{
				left:auto;
				right: calc(100% + #{$grid-gutter-width / 2});
			}
		}
	}
	.owl-next {
		right: $grid-gutter-width / 2;
		@media (min-width: $screen-sm-min) {
			.csscalc &{
				right:auto;
				left: calc(100% + #{$grid-gutter-width / 2});
			}
		}
	}
}

.csscalc .full-width .owl-next {
		right: #{$grid-gutter-width / 2} !important; left: auto !important;
}

.csscalc .full-width .owl-prev {
		left: #{$grid-gutter-width / 2} !important; right: auto !important;
	
}