.product-thumb {
	border: 1px solid darken($body-bg,12%);
	margin-bottom: 20px;
	overflow: auto;
	text-align: center;
	.image {
		text-align: center;
		a {
			display: block;
			&:hover {
				opacity: 0.8;
			}
		}
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	h4 {
		text-align: center;
		margin: 0;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  overflow: hidden;
		a {
			@include a($text-color, darken($text-color, 10%), $text-color);
		}
	}
	.caption {
		padding: 0 20px;
	}
	.rating {
		padding-bottom: 10px;
	}
	.price {
		@extend .h4;
		margin-top: 0;
		color: $text-color;
		display:block;
	}
	.price-new {
		font-weight: 600;
		color: $brand-danger;
	}
	.price-old {
		color: $text-color;
		text-decoration: line-through;
		margin-left: 10px;
	}
	.price-tax {
		color: $text-color;
		font-size: 12px;
		display: block;
	}
	.button-group {
		overflow: auto;
		button {
			@extend .btn;
			@extend .btn-primary;
			border: none;
			border-radius: 0;
			width: 60%;
			display: inline-block;
			float: left;
			+ button {
				width: 20%;
				background: lighten($brand-primary, 12%);
				+ button {
					background: lighten($brand-primary, 24%);
				}
			}
		}
	}
	.view-product {
		margin: 0 ($grid-gutter-width / 2) $line-height-computed;
	}
}

.product-grid {
	.product-thumb {
		.image {
			margin-bottom: $line-height-computed;
		}
		.caption { 
			width: 100%;
			h4 { 
			  text-overflow: ellipsis;
			  white-space: nowrap;
			  overflow: hidden;
			  & + p {
			  	min-height: 4 * $line-height-computed;
			  }
			  & + p.price {
			  	min-height: 0;
			  }
			}
			.price { 
				margin-bottom: $line-height-computed;
			}
		}
	}
}
/*
.products-grid,
[class*="product-category"] .products {
	.flexbox & {
		align-content: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		display: flex;
		flex-flow: row wrap;
		.product-grid {
			display: flex;
			flex-direction: column;
			flex: 1 0 auto;
			@media (min-width: $screen-sm-min) {
				max-width: 50%;
			}
			@media (min-width: $screen-md-min) {
				max-width: 33.3%;
				max-width: calc(100%/3);
			}
			.product-thumb { 
				flex: 1 0 auto;
				display: flex;
				flex-direction: column;
				padding-bottom: ($line-height-computed + (2 * ($padding-base-vertical + 1px)));
				position: relative;
				.image + div {
					display: flex;
					flex: 1 0 auto;
					align-items: center;
				}
				.button-group {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
			.image { margin-bottom: $line-height-computed; }
			.caption {
				h4 + p {
					min-height: 4*$line-height-computed;
				}
			}
		}
	}
}
*/

.product-list  {
	.product-thumb {
		.image {
			float: left;
		}
		.caption {
			padding: $line-height-computed $grid-gutter-width;
			height: 230px - ($line-height-computed + (2 * ($padding-base-vertical + 1px)));
			text-align: left;
  		margin-left: 228px;
		}
	}
}

.rating {
	.fa-stack {
		font-size: 8px;
	}
	.fa-star-o {
		color: $brand-primary;

		font-size: 15px;
	} 
	.fa-star {
		color: $brand-primary;
		font-size: 15px;
		+ .fa-star-o {
			color: $brand-primary;
		}
	}
	&.no-reviews {
		.fa { color: $gray-light; }
	}
}
body[class*="product-category"] {
	.control-label[for*="input-"] {
		padding-top: 7px;
	}
}