@function calculateRem($size) {
  $remSize: $size / $font-size-base;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin a($color,$hover:$color,$active:$hover) {
	color: $color;
	&:hover {
		color: $hover;
	}
	&:active {
		color: $active;
	}
}