@function calculateRem($size) {
  $remSize: $size / $font-size-base;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin a($color,$hover:$color,$active:$hover) {
	color: $color;
	&:hover {
		color: $hover;
	}
	&:active {
		color: $active;
	}
}

@mixin swatch($bg, $text-color, $heading-color: inherit, $link-color:$text-color, $border:$text-color, $icon-color: $link-color){
	background-color: $bg;
	color: $text-color;

	h1,h2,h3,h4,h5,
	.h1,.h2,.h3,.h4,.h5 {
		color: $heading-color;
	}

	.panel {
		border-color: $border;
	}

	a {
		 @include a($link-color, lighten($link-color, 10%), darken($link-color, 10%) );
		 font-weight: bold;
	}
	b {
		color: $link-color;
	}
	
	.dropdown-menu {
		background: darken($bg, 10%);
		color: $text-color;
		> li > a {
		 	@include a($link-color, lighten($link-color, 10%), darken($link-color, 10%) );
			&:hover,
			&:focus {
				background: $btn-primary-bg;
				color: $btn-primary-color;
			}
		}
	}

	.form-control,
	.btn-default {
		border: 1px solid $border;
		background: lighten($bg, 10%);
		color: $text-color;
		&::-webkit-input-placeholder {
		   color: $text-color;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: $text-color; 
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: $text-color;
		}

		&:-ms-input-placeholder {  
		   color: $text-color;
		}
	}

	.fa {
		color: $icon-color;
	}
}

.swatch-dark {
	@include swatch($brand-black, $brand-gray, $brand-white, $brand-white, transparent, $brand-primary);
}

.swatch-primary{
	@include swatch($brand-primary, $brand-black, $brand-black, $brand-black, $brand-black);
}