header {
	margin-bottom: $line-height-computed;
	#top {
		background: $header-top-bg;
		color: $header-top-text-color;
		min-height: $line-height-computed + (2 * ($padding-base-vertical + 1px)) + (2 * $padding-base-vertical);
		a {
			@include a($header-top-link-color);
		}
		@media(min-width: $grid-float-breakpoint) {
			.dropdown {
				.dropdown-menu { margin-top: 0; }
				&:hover {
					.dropdown-menu {
						display: block;
					}
				}
			}
		}
		.nav {
			padding-top: ($padding-base-vertical + 1px);
			margin-bottom:  ($padding-base-vertical + 1px);
			ul { margin-bottom: 0; }
			a {
				+ a {
					margin-left: 15px;
				}
			}
		}
	}

	.middle-wrapper {
		> .container {
			padding-top: $line-height-computed;
			> .row {
				@media (min-width: $screen-md-min) {
					.flexbox & {
						display: flex;
						flex-direction: row;
						align-items: center;
					}
				}
				.logo-wrapper,
				.search-wrapper,
				.cart-wrapper {
					margin-bottom: $line-height-computed;
				}
			}
		}
	}

	.nav-wrapper {
		.navbar.navbar-full {
			border-radius: 0;
			border-left: 0;
			border-right: 0;
		}
		.navbar-toggle > .fa {
			margin-left: 5px;
			margin-right: 5px;
		}
		.navbar-nav {
			@media(min-width: $grid-float-breakpoint) {
				.flexbox & {
					display:flex;
					float: none;
   				align-items: center;
					width: 100%;
					> li {
						flex: 1 1 auto;
						text-align:center;
					}
				}
			}
			.dropdown-menu {
				.dropdown-inner {
					span.badge { float: right; }
					@media(min-width: $grid-float-breakpoint) {
						padding: (($grid-gutter-width / 2) - $padding-small-vertical) ($grid-gutter-width / 2) 0 ($grid-gutter-width / 2);
						&.no-columns .nav { 
							width: 100%;
						}
						.no-flexbox .nav {	
							display: table-cell !important;
							min-width: 240px;
						}
						.flexbox & {
							display:flex;
   						align-items: stretch;
   						.nav {
   							min-width:  240px;
   						}
						}
					}
				}
				.see-all {
					margin: ($line-height-computed / 2) ($grid-gutter-width / 2) (($grid-gutter-width / 2) - $padding-small-vertical) ($grid-gutter-width / 2);
					padding: $nav-link-padding;

					width: auto;
				}
			}
		}
	}
}

.cart-wrapper {
	> ul {
		@media (max-width: $screen-xs-max) {
			width: 100%;
			li {
				width: 100%;
				display: block;
				float: none;
				.dropdown-menu {
					width: 100%;
				}
			}
		}
	}
}

#cart {
	text-align: center;
	@media(min-width: $grid-float-breakpoint) {
		text-align: right;
	}
	.btn-link:hover { 
		text-decoration: none;
	}
	.badge {
		float: right;
		top: 1px;
	}
	#cart-total,
	.badge {
		margin-left: $grid-gutter-width / 2;
	}
	#cart-total.empty-cart .badge {
		background: $gray-lighter;
		color: #777;
	}
	.dropdown-menu {
		z-index: 1001;
		min-width: 16em;
		@media(max-width: $screen-xs-max) {
			max-width: 100%;
		}
		table {
			margin-bottom: 10px;
			td { vertical-align: middle; }
		}
		li {
			> div {
				min-width: 427px;
				padding: 0 10px;
			}
			p {
				margin: 20px 0;
			}
		}
	}
}


@media(min-width: $screen-md-min) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
} 
