#content {
	
}

body[class*="product-product-"]{
	#product {
		.btn-group {
			display: block;
			width: 100%;
		}
	}
}

.category-list {
	.category {
		.panel-footer {
			text-align: center;
		  text-overflow: ellipsis;
		  white-space: nowrap;
		  overflow: hidden;
		}
	}
}